<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CargaDatos.Properties.Settings.Proyecto2DisennoConnectionString"
            connectionString="Data Source=DESKTOP-4EFARLO;Initial Catalog=Proyecto2Disenno;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>